
html{
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.items{
    width: 400px;
    
    text-align: center;
    flex-direction: column;
    background-color: orange;
    font-size: medium;
    
}
.edit{
    text-align: center;
}
label,span{
    width:120px;  
   display:inline-block; 
   
}
.delete{
    background-color:red;
    margin-right: 40px;
}
input{
    margin-right: 20px;
}
li:hover{
    background-color: darkseagreen;
}
p{
    font-size:x-large;
    font-style: initial;
    color: brown;
}
